body{
    background-image:url("backround img.png");
}

h1{
    color: rgb(0, 0, 0);
}

h1{
    text-align: center;
}

h2{

    text-align: center;
}

logo.png{ 

    align-items: center;
}

footer{
       background-color: blanchedalmond; 
}

header2{
    background-color: blanchedalmond; 
}

nav{
    text-align: center;
}